P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

div.container {
    height: 10em;
    position: relative }
div.container p {
    margin: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }   

h2 {
    font-size:18px;
    font-weight:bold;
    margin:50;
    margin-bottom:15px;
    margin-left:25px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 310;
  margin-left: 11px;
  margin-top: 10px;
  padding: 0 10px 0 10px;
  text-overflow: ellipsis;
  width: 300px;
  height: 30px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}



div.easyui-layout {
  width:100%;
  height:100%;
  margin:0px;
}


/*===================================================*/

div.main-window {
    height:100%;
    width:100%;
}

div.map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}



div.timespan {
  width: 50%;
  left: 25%;
  position: absolute; 
  bottom: 30%;
  color:black;

}

div.timespan_label {
    position: absolute;
    top: 60%;
    left: 25%;
    width:100%;
    color:black;

  }

div.timespan_label p {
    margin: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 25%;
    color:black;

}

.humans {
  position: absolute;
  right:0;
  bottom:25%;
  background: transparent;
  }

.bottom-box {
  width:100%;
  height: 10%;
  position: absolute;
  bottom: -8%;
  background:rgba(255,255,255,0.25);
  z-index: 1;
  color: whitesmoke;
}

.bottom-box:hover{
  background:rgba(255,255,255,0.85);
  bottom:0%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



.right-box-lock {
  width: 33%;
  height:90%;
  position: absolute;
  top:0;
  z-index: 1;
  background:rgba(255,255,255,0.85);
  opacity:0.95;
  right:0%;
  padding-left: 0%;
  /*-webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25 ease-in-out;
  transition: all 0.25s ease-in-out;
  */
  transition: all 0.45s cubic-bezier(0.9, 0.39, 0, 0.66);
}


.right-box{
  width: 33%;
  height:90%;
  position: absolute;
  right: -27%;
  top:0;
  background:rgba(255,255,255,0.25);
  background-color:transparent;
  opacity:0.25;
  z-index: 1;
  padding-left:10%;
}

.right-box:hover {
  background:rgba(255,255,255,0.85);
  opacity:0.85;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25 ease-in-out;
  transition: all 0.25s ease-in-out;
  }

.tabs-header {
  background-color: transparent;
  border-color: rgb(200,200,200);
  width:100% !important;
  /*height: 100% !important;*/
  margin: 0%;
}

.tabs-panels, .tabs-panels-no-border,  {
  width: 100% !important;
  margin: 0%;
  height:100% !important;

}

.fixed-table-container {
  height: 88% !important;
}

.panel{
  margin-bottom: 0%;
  width:100% !important;
  margin: 0%;
  height:100% !important;
}
.panel-body{
  margin-bottom: 0%;
  width:100% !important ;
  height:100% !important;
}

.bootstrap-table {
  height:100%;
}

.logo {
  width: 41%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.45s cubic-bezier(0.9, 0.39, 0, 0.66);
}

.logolock {
    width: 45%;
    position: absolute;
    top: 4px;
    left: 9px;
    transition: all 0.45s cubic-bezier(0.9, 0.39, 0, 0.66);
}